<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/index.css">
  <script src="https://kit.fontawesome.com/a27baeba24.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>
  <title>Checkout</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="top top-color">
        <a class="back icon" href="javascript:history.back()"><img src="./icons/back.svg"></a>
        <div class="top-tittle">
          <h2>Checkout</h2>
        </div>
        <div class="cart icon"><img src="./icons/cart.svg"></div>
      </div>
    </div>
  </header>

  <!-- ***** Where the content goes ***** -->
  <div class="main">
    <!-- ***** Where whe edit the margin ***** -->
    <div class="container">
      <div id="cart"></div>
    </div>
    <!-- ***** end of the margin ***** -->
  </div>
  <!-- ***** End of main ***** -->

  <script src="./js/checkout.js"></script>
</body>

</html>