<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Morena Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Swiper styles -->
    <link rel="stylesheet" href="swiper.css">
    <link rel="stylesheet" href="stylesheets/index.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="top top-color">
                <div class="back icon"><img src="./icons/back.svg"></div>
                <div class="top-tittle">
                    <h2>Snacks</h2>
                </div>
                <div class="cart icon"><img src="./icons/cart.svg"></div>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="container">
            <div class="deals">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" class="radio"><img src="./img/deals/deal1.jpeg" alt="deal1" /></div>
                        <div class="swiper-slide"><img src="./img/deals/deal2.jpeg" alt="deal1" class="radio" /></div>
                        <div class="swiper-slide"><img src="./img/deals/deal3.jpeg" alt="deal1" class="radio" /></div>
                        <div class="swiper-slide"><img src="./img/deals/deal4.jpeg" alt="deal1" class="radio" /></div>
                    </div>
                </div>
                <div class="greeting">
                    <h1>Kia ora!</h1>
                    <h2>What goodie would you like today?</h2>
                </div>
                <div class="food-menu">
                    <div class="food-menu-category">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script src="./js/swiper.js"></script>
</body>

</html>