<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://kit.fontawesome.com/a27baeba24.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Intro</title>
</head>
<body>
      <!-- ***** Header Area Starts ***** -->
      <header>
        <div class="container">
          <div class="top top-color">
            <div class="top-tittle"><h2>Intro</h2></div>
            <img src="/template/icons/Logo Final.svg" alt="Logo">
          </div>
        </div>
      </header>
      <!-- ***** Header Area End ***** -->

      <!-- ***** Where the content goes ***** -->
        <div class="main">
            <div class="container">
            <div class="hot-drinks-menu">
                <div class="card card-color radius">
                    <div class="item">
                        <div class="item-img">
                            <img src="./products/flatwhite.jpg" alt="Coffees | Kawe">
                        </div>
                        <div class="item-legend">
                            <p>Coffees | Kawe</p>
                        </div>
                    </div>
                </div>
                <div class="card card-color radius">
                    <div class="item">
                        <div class="item-img">
                            <img src="./products/flatwhite.jpg" alt="Teas | Tii">
                        </div>
                        <div class="item-legend">
                            <p>Teas | Tii</p>
                        </div>
                    </div>
                </div>
                <div class="card card-color radius">
                    <div class="item">
                        <div class="item-img">
                            <img src="./products/flatwhite.jpg" alt="Winter Warmers">
                        </div>
                        <div class="item-legend">
                            <p>Winter Warmers</p>
                        </div>
                    </div>
                </div>
                <div class="card card-color radius">
                    <div class="item">
                        <div class="item-img">
                            <img src="./products/flatwhite.jpg" alt="Hot Chocolate | Tiakarete Wera">
                        </div>
                        <div class="item-legend">
                            <p>Hot Chocolate | Tiakarete Wera</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!-- ***** End of main ***** -->

</body>
</html>