<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Payment</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="top top-color">
                <a class="back icon" href="Checkout2.html"><img src="./icons/back.svg"></a>
                <div class="top-tittle">
                    <h2>Payment</h2>
                </div>
                <div class="cart icon"><img src="./icons/cart.svg"></div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="payment">
                <div class="credit margin-top">
                    <img src="./img/creditCard.png">
                </div>
                <form class="payment-form">
                    <div class="form-goup1 ">
                        <input type="text" class="margin-top" id="holdername" name="holdername"
                            placeholder="John Smith">
                        <input type="text" id="cardno" class="margin-top" name="cardno"
                            placeholder="0000 0000 0000 0000" minlength="19" maxlength="19">
                    </div>
                    <div class="form-goup2">
                        <input type="text" id="expo" class="margin-top" name="expo" placeholder="MM/YY" minlength="5"
                            maxlength="5">
                        <input type="password" id="password" class="margin-top" name="password" placeholder="●●●"
                            minlength="3" maxlength="3">
                    </div>
                    <a href="Confirmation.html"><input class="button margin-top" type="button" value="Purchase"></a>
                </form>

            </div>
        </div>
    </div>
</body>

</html>