<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://kit.fontawesome.com/a27baeba24.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Soft Drinks</title>
</head>

<body>
    <!-- ***** Header Area Starts ***** -->
    <header>
        <div class="container">
            <div class="top top-color">
                <div class="back icon"><img src="./icons/back.svg"></div>
                <div class="top-tittle">
                    <h2>Soft Drinks</h2>
                </div>
                <div class="cart icon"><img src="./icons/cart.svg"></div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Where the content goes ***** -->
    <div class="main">
        <!-- ***** Where whe edit the margin ***** -->
        <div class="container">
            <form class="listProducts">
                <div class="list">

                    <!-- ***** Where whe edit the margin ***** -->
                    <a class="list-item">
                        <div class="list-item-top">
                            <img src="./img/products/colddrinks/Soft Drinks/10.png" alt="sprite">
                        </div>
                        <div class="list-item-bottom">
                            <div class="list-item-name center">Sprite</div>
                            <div class="list-item-price center">$4.5</div>
                            <div class="list-item-quant">
                                <div class="inputStepper">
                                    <button type='button' class="decrement primary" id="decrement"
                                        onclick="Stepper(this.id, '0')">
                                        -
                                    </button>
                                    <input type="number" min="0" max="20" value="1" id="0" readOnly />
                                    <button type='button' class="increment primary" id="increment"
                                        onclick="Stepper(this.id, '0')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- ***** Where whe edit the margin ***** -->
                    <!-- ***** Where whe edit the margin ***** -->
                    <div class="list-item">
                        <div class="list-item-top">
                            <img src="./img/products/colddrinks/Soft Drinks/1.png" alt="coke">
                        </div>
                        <div class="list-item-bottom">
                            <div class="list-item-name center">Coke</div>
                            <div class="list-item-price center">$4.5</div>
                            <div class="list-item-quant">
                                <div class="inputStepper">
                                    <button type='button' class="decrement primary" id="decrement"
                                        onclick="Stepper(this.id, '1')">
                                        -
                                    </button>
                                    <input type="number" min="0" max="20" value="1" id="1" readOnly />
                                    <button type='button' class="increment primary" id="increment"
                                        onclick="Stepper(this.id, '1')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-top">
                            <img src="./img/products/colddrinks/Soft Drinks/11.png" alt="fanta">
                        </div>
                        <div class="list-item-bottom">
                            <div class="list-item-name center">Fanta</div>
                            <div class="list-item-price center">$4.5</div>
                            <div class="list-item-quant">
                                <div class="inputStepper">
                                    <button type='button' class="decrement primary" id="decrement"
                                        onclick="Stepper(this.id, '2')">
                                        -
                                    </button>
                                    <input type="number" min="0" max="20" value="1" id="2" readOnly />
                                    <button type='button' class="increment primary" id="increment"
                                        onclick="Stepper(this.id, '2')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-top">
                            <img src="./img/products/colddrinks/Soft Drinks/12.png" alt="pepsi">
                        </div>
                        <div class="list-item-bottom">
                            <div class="list-item-name center">Pepsi</div>
                            <div class="list-item-price center">$4.5</div>
                            <div class="list-item-quant">
                                <div class="inputStepper">
                                    <button type='button' class="decrement primary" id="decrement"
                                        onclick="Stepper(this.id, '3')">
                                        -
                                    </button>
                                    <input type="number" min="0" max="20" value="1" id="3" readOnly />
                                    <button type='button' class="increment primary" id="increment"
                                        onclick="Stepper(this.id, '3')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-top">
                            <img src="./img/products/colddrinks/Soft Drinks/9.png" alt="coke no sugar">
                        </div>
                        <div class="list-item-bottom">
                            <div class="list-item-name center">Coke 0</div>
                            <div class="list-item-price center">$4.5</div>
                            <div class="list-item-quant">
                                <div class="inputStepper">
                                    <button type='button' class="decrement primary" id="decrement"
                                        onclick="Stepper(this.id, '4')">
                                        -
                                    </button>
                                    <input type="number" min="0" max="20" value="1" id="4" readOnly />
                                    <button type='button' class="increment primary" id="increment"
                                        onclick="Stepper(this.id, '4')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
        </div>


        <!-- ***** end of the margin ***** -->
    </div>
    </div>
    <footer class="container">
        <input class="button" type="submit" value="Checkout">
    </footer>
    </form>



    <!-- ***** End of main ***** -->
    <script src="./js/stepper.js"></script>
</body>

</html>