@charset "UTF-8";
/*
    In this project we are using OOCSS structure.
    Structure and design files are separate files. 
    Sturucture means : “width, height, padding, margin , position” . 
    Design means: “border, color, font, background”. 
    Design files and Sturucture files must be seperated.
    More: OOCSS website: http://oocss.org/
*/
body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.container {
  padding: 12px;
}

.radius {
  border-radius: 15px;
}

/* Mobile: */
header {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top-color {
  font-size: 24px;
  color: #d37130;
}

.top img {
  width: 24px;
  height: 24px;
}

.item-img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 40%;
  border-radius: 15px;
}

.card-color {
  background-color: #d37130;
  color: #d37130;
}

.card-color2 {
  background-color: #d3d0d0;
  color: #d37130;
}

.item-legend {
  text-align: center;
}

.item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 19px;
}

.center {
  text-align: center;
}

.item-footer .inputStepper {
  background-color: #d3d0d0;
  margin-top: 12px;
  align-self: center;
}

.card-menu {
  background-color: #d37130;
}

.hot-drinks-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.top-tittle {
  font-family: "Poppins", sans-serif;
}

.image-product {
  display: flex;
  justify-content: center;
}

.list-item-top,
.list-item-quant {
  display: flex;
  justify-content: center;
}

.image-product img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.product-name {
  font-size: 24px;
  margin-top: 15px;
}

.product {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-top: 10px;
}

.button {
  width: 100%;
  margin-top: 35px;
  color: #fff;
  background-color: #d37130;
  border: none;
  padding: 12px;
  border-radius: 15px;
}

/* List Products*/
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item {
  color: #d37130;
  padding: 3px;
}

list-item-top,
.list-item-quant,
.list-item-name {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.list-item-top img {
  border-radius: 15px 15px 0 0;
}

.list-item-bottom {
  border-radius: 0 0 15px 15px;
  background-color: #d3d0d0;
  width: 100px;
}

/*Inpput Stepper*/
.inputStepper {
  display: flex;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.primary {
  color: #fff;
  background-color: #d37130;
  border: none;
}

.decrement {
  padding: 10px;
  border-radius: 7px 0 0 7px;
}

.increment {
  padding: 10px;
  border-radius: 0 7px 7px 0;
}

footer {
  display: flex;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  h2,
.button {
    font-size: 42px;
  }

  .top img {
    width: 50px;
    height: 50px;
  }

  p,
.list-item {
    font-size: 32px;
  }

  .card {
    width: 32%;
  }

  .list-item-bottom,
.list-item-top img {
    width: 300px;
  }

  .list-item {
    padding: 14px;
  }

  .decrement {
    font-size: 40px;
    padding: 13px;
  }

  .increment,
input[type=number] {
    font-size: 32px;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }

  .image-product img {
    height: 400px;
  }

  .hot-drinks-menu {
    flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=index.css.map */

/*# sourceMappingURL=index.css.map */
