/*
    In this project we are using OOCSS structure.
    Structure and design files are separate files. 
    Sturucture means : “width, height, padding, margin , position” . 
    Design means: “border, color, font, background”. 
    Design files and Sturucture files must be seperated.
    More: OOCSS website: http://oocss.org/
*/

$primary0: #6f4d44;
$primary1: #d37130;
$primary2: #b65126;
$primary3: #f0b75d;
$gray100: #d3d0d0;
$cwux-color: #fff;

$cwux-font: "Poppins", sans-serif;
$cwux-mobile-fontsize: 16px;
$cwux-tablet-fontsize: 32px;
$mobile-h1: 32px;
$mobile-h2: 24px;
$mobile-h3: 22px;
$mobile-h4: 18px;
$tablet-h1: 50px;
$tablet-h2: 42px;
$tablet-h3: 32px;
$tablet-h4: 24px;

$border-radius: 15px;

@mixin responsive($display, $content) {
  display: $display;
  justify-content: $content;
}

body,
html {
  font-family: $cwux-font;
  height: 100%;
  margin: 0;
}

.main {
  flex: 1;
}

h2 {
  font: {
    size: $mobile-h2;
    weight: 600;
  }
  margin: 0;
}

h4 {
  font: {
    size: $mobile-h4;
    weight: 400;
  }
  margin: 0;
}

textarea {
  width: 100%;
}

.container {
  padding: 12px;
}
.radius {
  border-radius: $border-radius;
}

/* Mobile: */
header {
  width: 100%;
}

.top {
  @include responsive(flex, space-between);
  flex-direction: row;
}

.top-color {
  font-size: $mobile-h2;
  color: $primary1;
}
.top img {
  width: 24px;
  height: 24px;
}

.item-img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card {
  @include responsive(flex, center);
  flex-wrap: wrap;
  gap: 5px;
  width: 40%;
  border-radius: 15px;
}

.card-color {
  background-color: $primary1;
  color: $cwux-color;
}

a:link {
  text-decoration: none;
}
.card-color2 {
  background-color: $gray100;
  color: $primary1;
}
.item-legend {
  text-align: center;
}

.item-footer {
  @include responsive(flex, center);
  align-items: center;
  flex-direction: column;
  padding: 19px;
}

.center {
  text-align: center;
}

.item-footer .inputStepper {
  background-color: $gray100;
  margin-top: 12px;
  align-self: center;
}

.card-menu {
  background-color: $primary1;
}

.hot-drinks-menu {
  @include responsive(flex, center);
  flex-wrap: wrap;
  gap: 35px;
}

.top-tittle {
  font-family: $cwux-font;
}

.image-product {
  @include responsive(flex, center);
}

.list-item-top,
.list-item-quant {
  @include responsive(flex, center);
}

.image-product img {
  width: 100%;
  height: 200px;
  border-radius: $border-radius;
  margin-bottom: 6px;
}

.product-name {
  font-size: $mobile-h2;
  margin-top: 15px;
}

.product {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-top: 10px;
}

.button {
  width: 100%;
  margin-top: 35px;
  color: $cwux-color;
  background-color: $primary1;
  border: none;
  padding: 12px;
  border-radius: $border-radius;
}
.intro {
  @include responsive(flex, center);
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin: 0 5px 0 5px;
  width: 325px;
}

.option-item {
  margin-top: 2px;
  @include responsive(flex, flex-start);
  flex-direction: column;
  width: 100px;
}

.option {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.option:checked {
  background-image: url(../icons/radio-hover.png);
}

/* List Products*/
.list {
  @include responsive(flex, flex-start);
  flex-wrap: wrap;
}

.list-item {
  color: $primary1;
  padding: 3px;
}

list-item-top,
.list-item-quant,
.list-item-name {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.list-item-top img {
  border-radius: 15px 15px 0 0;
}
.list-item-bottom {
  border-radius: 0 0 15px 15px;
  background-color: $gray100;
  width: 100px;
}

/*Inpput Stepper*/
.inputStepper {
  display: flex;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  font-size: $cwux-mobile-fontsize;
  border: none;
  background-color: $cwux-color;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.primary {
  color: $cwux-color;
  background-color: $primary1;
  border: none;
}

.decrement {
  padding: 10px;
  border-radius: 7px 0 0 7px;
}

.increment {
  padding: 10px;
  border-radius: 0 7px 7px 0;
}
.list-item-quant {
  padding: 12px;
}

.choose-option h4 {
  color: $primary2;
}

.choose-option {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.options {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.option-category {
  @include responsive(flex, flex-start);
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 16px;
}

.option-category img {
  width: 50px;
  height: 50px;
}

.option-category {
  text-align: center;
}

footer {
  display: flex;
}

.bgfullimg {
  background: url("../img/bg/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  @include responsive(flex, center);
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.logo-space {
  @include responsive(flex, center);
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
}

.qr-space {
  @include responsive(flex, center);
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}
.skin {
  font-size: 22px;
}
.container-intro-button {
  @include responsive(flex, center);
  align-items: center;
}

.greeting h1 {
  font-size: $mobile-h1;
  color: $primary0;
}
.greeting h3 {
  font-size: $mobile-h3;
  color: $primary0;
  font-weight: 100;
}
.food-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.food-menu-category a:link {
  text-decoration: none;
  color: black;
}
.food-menu-category a:visited {
  color: black;
}

.food-menu-category a:hover {
  cursor: pointer;
  color: #c7b0a8;
}

.food-menu-category a:visited {
  cursor: pointer;
  color: #f0b75d;
}

.food-menu-category p {
  color: #0d0221;
}

.food-menu-category {
  @include responsive(flex, center);
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 153px;
}
.food-menu-category-img {
  background-color: $primary1;
  display: flex;
  align-content: center;
  padding: 22px;
  border-radius: 15px;
}

.swiper {
  height: 126px;
  width: 349px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  h2,
  .button {
    font-size: $tablet-h2;
  }

  .top img {
    width: 50px;
    height: 50px;
  }

  p,
  .list-item {
    font-size: $cwux-tablet-fontsize;
    justify-content: flex-start;
  }

  .card {
    width: 32%;
  }

  .list-item-bottom,
  .list-item-top img {
    width: 300px;
  }

  .list-item {
    padding: 14px;
  }
  .device {
    width: 300px;
  }

  .options {
    display: flex;
    flex-direction: row;
  }

  .decrement {
    font-size: 40px;
    padding: 13px;
  }
  .increment,
  input[type="number"] {
    font-size: $cwux-tablet-fontsize;
  }

  .deals {
    display: flex;
  }

  .tablet {
    margin-left: 12px;
    flex-grow: 1;
  }

  .swiper {
    height: auto;
  }

  .food-menu {
    align-items: baseline;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  body {
    font-size: $tablet-h4;
  }
  .image-product img {
    height: 400px;
  }

  .list-item {
    font-size: $cwux-tablet-fontsize;
    justify-content: flex-start;
  }

  .hot-drinks-menu {
    flex-wrap: nowrap;
  }
}
